.container {
    display: flex;
    flex-direction: column;
}

.container h1 {
    font-family: "NES";
    text-shadow: 2px 2px white;
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
    }

    .container img {
        width: 100%;
    }
}